<form method="post" action="/courses/<%= @course.id %>">
  <input type="text" name="content" value="<%= course.content %>">
  <input type="hidden" name="_method" value="patch">
  <input type="submit" id="submit" value="Edit Course">
</form>
